# Web Framework
Flask

# HTTP Requests
requests
urllib3

# Data Processing
pandas

# Additional Dependencies
Werkzeug

aiohappyeyeballs          
aiohttp                   
aiosignal                 
annotated-types           
anyio                     
apify_client              
apify_shared              
argon2-cffi               
argon2-cffi-bindings      
arrow                     
asttokens                 
async-lru                 
attrs                     
audioop-lts               
babel                     
beautifulsoup4            
bleach                    
blinker                   
cachetools                
certifi                   
cffi                      
charset-normalizer        
click                     
colorama                  
comm                      
comtypes                  
contourpy                 
cssselect                 
cycler                    
DataRecorder              
debugpy                   
decorator                 
deep-translator           
defusedxml                
DownloadKit               
DrissionPage              
et_xmlfile                
executing                 
fastjsonschema            
filelock                  
Flask                     
fonttools                 
fqdn                      
frozenlist                
futures                   
google-api-core           
google-api-python-client  
google-auth               
google-auth-httplib2      
googleapis-common-protos  
greenlet                  
h11                       
h2                        
hpack                     
httpcore                  
httplib2                  
httpx                     
hyperframe                
idna                      
impit                     
ipykernel                 
ipython                   
ipython_pygments_lexers   
ipywidgets                
isoduration               
itsdangerous              
jedi                      
Jinja2                    
json5                     
jsonpointer               
jsonschema                
jsonschema-specifications 
jupyter                   
jupyter_client            
jupyter-console           
jupyter_core              
jupyter-events            
jupyter-lsp               
jupyter_server            
jupyter_server_terminals  
jupyterlab                
jupyterlab_pygments       
jupyterlab_server         
jupyterlab_widgets        
kiwisolver                
lark                      
lxml                      
MarkupSafe                
matplotlib                
matplotlib-inline         
mistune                   
more-itertools            
multidict                 
nbclient                  
nbconvert                 
nbformat                  
nest-asyncio              
ngrok                     
notebook                  
notebook_shim             
numpy                     
ollama                    
openpyxl                  
outcome                   
packaging                 
pandas                    
pandocfilters             
parso                     
pdf2image                 
pillow                    
pip                       
platformdirs              
playwright                
praw                      
prawcore                  
prometheus_client         
prompt_toolkit            
propcache                 
proto-plus                
protobuf                  
psutil                    
pure_eval                 
pyasn1                    
pyasn1_modules            
pycparser                 
pydantic                  
pydantic_core             
pydub                     
pyee                      
Pygments                  
PyMuPDF                   
pyparsing                 
pypiwin32                 
PySocks                   
python-dateutil           
python-dotenv             
python-json-logger        
pyttsx3                   
pytz                      
pywin32                   
pywinpty                  
PyYAML                    
pyzmq                     
referencing               
requests                  
requests-file             
rfc3339-validator         
rfc3986-validator         
rfc3987-syntax            
rpds-py                   
rsa                       
seaborn                   
selenium                  
selenium-recaptcha-solver 
Send2Trash                
setuptools                
six                       
sniffio                   
sortedcontainers          
soupsieve                 
SpeechRecognition         
stack-data                
standard-aifc             
standard-chunk            
terminado                 
tinycss2                  
tldextract                
tldextract                
tornado                   
tqdm                      
traitlets                 
trio                      
trio-websocket            
typing_extensions         
typing-inspection         
tzdata                    
update-checker            
uri-template              
uritemplate               
urllib3                   
wcwidth                   
webcolors                 
webdriver-manager         
webencodings              
websocket-client          
Werkzeug                  
widgetsnbextension        
wsproto                   
yarl                      